.PhotoPage{
}
.WrapperPhoto{
    width: 313px;
    height: 455px;
    overflow: hidden;
    border-radius: 1%;
    margin: 20px;
}
.WrapperBlockPhoto{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,320px);
    grid-gap: 2vw;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
}
.Photo{
    width: 313px;
    height: 455px;
    transition: transform 0.7s;
    transform: scale(1);

}
.PhotoHovered{
    width: 313px;
    height: 455px;
    transition: transform 0.7s;
    transform: scale(1.2);
}
@media screen and (max-width: 654px) {

.WrapperBlockPhoto{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    grid-gap: 2vw;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
}

.WrapperPhoto{
    width: 100%;
    min-width: 370px;
    height: 500px;
    overflow: hidden;
    border-radius: 1%;
    margin: 0 20px;
}
.Photo{
    width: 100%;
    min-width: 370px;
    height: 500px;
    transition: transform 0.7s;
    transform: scale(1);

}
.PhotoHovered{
    width: 100%;
    min-width: 370px;
    height: 500px;
    transition: transform 0.7s;
    transform: scale(1.2);
}}
