.MainPage{
    margin: -5px 0;
}
.Brand{
    font-family: var(--font-family-brand);
    font-size: var(--font-size-brand)
}
.Link{
    font-family: var(--font-family-navbar);
    font-size: var(--font-size-navbar);
}
.Collage{
    width: 100%;
    height: auto;
}
.CollageNone{
    display: none;
}
.CollageSkeleton{
    width: 100%;
    height: 100vh;
}
@keyframes draw {
  to {
    visibility: visible;
    stroke-dashoffset: 0;
  }
}

.Ksyshsnimay {
  font-family: Arial, sans-serif;
  stroke-width: 2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  visibility: hidden;
  animation: draw 2s linear forwards;
    color: gold;
    width: 500px;
    height: 500px;
}



.tinLeftIn {
  -webkit-animation-name: tinLeftIn;
  animation-name: tinLeftIn;
}
@-webkit-keyframes tinLeftIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateX(-900%);
    transform: scale(1, 1) translateX(-900%);
  }

  50%,
  70%,
  90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateX(0);
    transform: scale(1.1, 1.1) translateX(0);
  }

  60%,
  80%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateX(0);
    transform: scale(1, 1) translateX(0);
  }
}
@keyframes tinLeftIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateX(-900%);
    transform: scale(1, 1) translateX(-900%);
  }

  50%,
  70%,
  90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateX(0);
    transform: scale(1.1, 1.1) translateX(0);
  }

  60%,
  80%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateX(0);
    transform: scale(1, 1) translateX(0);
  }
}